{% extends "layout.html" %}

{% block content %}
  <div class="container">
    <h1>Welcome to the Message Board!</h1>
    {% for message in messages %}
      <div class="card card-flex">
        <div class="card-main">
          <strong>{{ message.username }}</strong>
          <p>{{ message.text }}</p>
          <em>{{ message.added }}</em>
        </div>
        <div class="card-action">
          <a href="{{ url_for('message_detail', message_id=message.id) }}">Open</a>
        </div>
      </div>
    {% endfor %}
    <a href="{{ url_for('new_message') }}">Post a New Message</a>
  </div>
{% endblock %}
